{% extends "DGVoteBundle::layout.html.twig" %}

{% block title %}DGVoteBundle:Sheet:index{% endblock %}

{% block body %}
<h1>Formulaire de création/édition de fiche</h1>
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {{ form_errors(form) }}
    <div class="form-group">
      {{ form_label(form.name, "Nom de la fiche", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {{ form_errors(form.name) }}
      <div class="col-sm-4">
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>
    <div class="form-group">
      {{ form_label(form.description, "Description", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {{ form_errors(form.description) }}
      <div class="col-sm-4">
        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>
    <div class="form-group">
      {{ form_label(form.launch_date_theater_us, "Sortie US (cinema)", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {{ form_errors(form.launch_date_theater_us) }}
      <div class="col-sm-4">
        {{ form_widget(form.launch_date_theater_us, {'attr': {'class': 'form-control date'}}) }}
      </div>
    </div>
    <div class="form-group">
      {{ form_label(form.launch_date_theater_fr, "Sortie FR (cinema)", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {{ form_errors(form.launch_date_theater_fr) }}
      <div class="col-sm-4">
        {{ form_widget(form.launch_date_theater_fr, {'attr': {'class': 'form-control date'}}) }}
      </div>
    </div>
    <div class="form-group">
      {{ form_label(form.launch_date_dvd, "Sortie DVD", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {{ form_errors(form.launch_date_dvd) }}
      <div class="col-sm-4">
        {{ form_widget(form.launch_date_dvd, {'attr': {'class': 'form-control date'}}) }}
      </div>
    </div>
    <div class="form-group">
      {{ form_label(form.launch_date_blue_ray, "Sortie Blue Ray", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {{ form_errors(form.launch_date_blue_ray) }}
      <div class="col-sm-4">
        {{ form_widget(form.launch_date_blue_ray, {'attr': {'class': 'form-control date'}}) }}
      </div>
    </div>
    <div class="form-group">
      {{ form_label(form.file, "Image", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {% if sheet is defined and sheet.image is not empty %}
      <img src="{{ asset(img) }}" />
      {% endif %}
      {{ form_errors(form.file) }}
      <div class="col-sm-4">
        {{ form_widget(form.file, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>
    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
    {{ form_rest(form) }}
    {{ form_end(form) }}
    <a href="{{ path('dg_vote_sheet_list') }}">Retour à la liste</a>
{% endblock %}
