{% extends "DGVoteBundle::layout.html.twig" %}

{% block title %}DGVoteBundle:Sheet:index{% endblock %}

{% block body %}
<h1>Liste des fiches</h1>
<ul>
{% for sheet in sheets %}
    <li>
        {% if sheet.image is not empty %}
        {% set image_path = sheet.getWebPath() %}
        <img src="{{ asset(image_path) | apply_filter('my_thumb') }}" />
        {% endif %}
        {{ sheet.name }}<br />
        {% set votes = vote.count(sheet.id) %}
        {% set average = vote.average(sheet.id) %}
        Note moyenne : {{ average | round(1, 'common') }} ({{ votes }} votes)
        <a href="{{ path('dg_vote_vote_index', {'id' : sheet.id}) }}">Vote</a>
    </li>
{% endfor %}
</ul>
{% endblock %}
